* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 2em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 15px;
}

input {
    outline: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 100%;
}

.response {
    margin-top: 1em;
}

.users-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    padding-top: 5px;
}

ul > li {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
}