{% extends 'base.html' %}


{% block body %}
<form action="{{ url_for('main.add_user') }}" method="post">
    <input type="text" name="add-user">
    <button>Привітатись</button>
</form>
<a href="{{ url_for('main.get_users') }}">Переглянути список користувачів</a>
<div class="response">
    <h2>{{ user }}</h2>
</div>

{% endblock %}