{% extends 'base.html' %}

{% block body %}

<div class="users-list">
    <a href="/">Повернутися</a>
    <ul>
        {% for user in users %}
            <li>{{user.name}}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}